@import 'utils/variables';
@import 'components/type';

@font-face {
    font-family: omoriFont;
    src: url(../assets/fonts/OMORI_GAME2.ttf);
}

html {
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;

    font-family: omoriFont;
    font-size: $step-0;

    overflow: hidden;

    color: white;
}

body, body * {
    box-sizing: border-box;
}

html, body, main {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: #FFFFFF;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../assets/images/background-image.webp) !important;
    background-position: center;
    background-repeat: repeat;
    background-size: contain;

    width: 100%;

    position: relative;
}

.sq__credits {
    position: absolute;

    z-index: 60;

    width: 70%;
    max-height: 100vh;

    a {
        color: red;
    }
}

.sq__home {
    position: absolute;
    z-index: 50;

    width: 70%;

    max-height: 100vh;
    overflow-y: auto;

    p {
        font-size: $step-1;
    }

    .sq__pararagraphsmall {
        margin-top: 62px;

        font-size: $step-0;
    }
}

.sq__logo {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100%;
    }
}

.sq__ok {
    width: 100%;

    margin-top: 62px;

    display: flex;
    justify-content: center;
    align-items: center;

    button {
        width: 20%;
        padding: 15px;

        font-size: $step-2;

        &:hover {
            padding: 15px;
        }
    }
}

.sq__stopquest {
    font-size: $step-2;
    
    position: absolute;
    z-index: 20;

    cursor: pointer;
}

.sq__buttons {
    position: absolute;

    top: 10%;
    left: 0;

    z-index: 20;

    display: flex;
    flex-direction: column;
    gap: 31px;

    button {
        font-size: $step-2;

        cursor: pointer;
    }
}

.sq__stopquest {
    right: 0;
    top: 10%;
}

.sq__map, #map {
    aspect-ratio: 4/3;
    width: 60%;

    background-image: url(../assets/images/backgroundimage.webp) !important;

    border: 30px solid transparent;
    border-image-source: url(../assets/images/border-image.webp);
    border-image-slice: 100;

    z-index: 10;
}

.sq__spawn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50%;
    height: 100vh;
    max-height: 100vh;

    z-index: 20;

    color: white;

    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: $step-3;
    margin: 0;

    text-align: center;
}

h2 {
    font-size: $step-2;
    margin-bottom: 0;
    margin-top: 31px;

    text-align: center;
}

p {
    font-size: $step-0;
}

.sq__questList {
    padding: 0;
}

.sq__questName {
    margin-left: 0;
    width: 100%;

    list-style: none;
    font-size: $step-1;
    text-align: center;

    border-top: 2px white solid;
    border-bottom: 2px white solid;

    cursor: pointer;

    &:hover {
        background-color: white;
        color: black;
    }
}

.sq__alert {
    margin-top: 15px;
    margin-bottom: 0;
}

.sq__radios {
    margin-top: 62px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-evenly;

    gap: 31px;

    span {
        font-size: $step-2;
    }
}

.sq__settings, .sq__quests {
    position: absolute;
    z-index: 30;

    left: -100%;
    top: 10%;

    display: flex;
    flex-direction: column;

    transition: all 0.5s;
}

.sq__quests {
    top: 10%;

    width: 15%;
}

.sq__settings--appear, .sq__quests--appear {
    left: 0;
}

.sq__reset {
    margin-top: 62px;
    justify-self: center;

    font-size: $step-1;

    cursor: pointer;
}

.sq__settingsclose, .sq__questclose, .sq__creditsclose {
    width: 100%;
    height: 40px;

    padding-right: 31px;

    margin-top: 0;
    margin-bottom: 0;

    display: flex;
    justify-content: end;

    img {
        width: 40px;
        height: 40px;

        cursor: pointer;
    }
}

.sq__splashtext {
    position: absolute;

    z-index: 20;

    align-self: flex-end;

    width: 40%;
    height: 12%;

    font-size: $step-1;
}

.sq__warning {
    width: 40%;
    height: 40%;

    position: absolute;

    z-index: 40;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .sq__warningtext {
        font-size: $step-1;
    }

    .sq__warningButtons {
        width: 100%;
        display: flex;
        flex-direction: row;

        .sq__warningButton {
            font-size: $step-1;
            width: 100%;
        }
    }
}

.sq__wrongDay {
    width: 40%;
    height: 40%;

    position: absolute;

    z-index: 40;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .sq__wrongDaytext {
        font-size: $step-1;
    }

    .sq__wrongDayButtons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .sq__wrongDayButton {
            font-size: $step-1;
            width: 30%;
        }
    }
}

.sq__questProgress {
    width: 40%;
    height: auto;

    position: absolute;

    z-index: 40;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .sq__questProgresstext {
        font-size: $step-1;
        text-align: center;
    }

    .sq__questProgressButtons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .sq__questProgressButton {
            font-size: $step-1;
            width: 30%;
        }
    }
}

.omori__border {
    background-color: black;
    padding: 20px;

    outline-offset: -8px;
    outline-width: 5px;
    outline-color: white;
    outline-style: solid;

    color: white;
    font-family: omoriFont;
}

.omori__border--click {
    cursor: pointer;

    &:hover {
        background-color: white;
        padding: 20px;

        outline-offset: -8px;
        outline-width: 5px;
        outline-color: black;
        outline-style: solid;

        color: black;
    }
}

.omori__border--white {
    background-color: white;
    outline-color: black;
    color: black;

    &:hover {
        background-color: black;
        outline-color: white;
        color: white;
    }
}

.sq__label input[type="radio"] {
  display: none;
}

.hidden {
    display: none !important;
}

@media(max-width: 1400px) {
    .sq__spawn {
        overflow-y: auto;
    }

    .sq__map, #map {
        width: 80%;
    }

    .sq__splashtext {
        width: 100%;

        font-size: $step-1;
    }
}

@media(max-width: 900px) {
    h1 {
        font-size: $step-2;
    }

    h2 {
        font-size: $step-1;
    }

    p {
        font-size: $step-0;
    }

    .sq__spawn {
        width: 100%;
    }
}

@media(max-width: 700px) {
    .sq__map, #map {
        width: 100%;
        height: 100%;

        aspect-ratio: unset;

        border: none;
    }

    .sq__credits {
        width: 100%;

        overflow-y: scroll;
    }

    .sq__home {
        width: 100%;

        p {
            font-size: $step-0;
        }

        .sq__pararagraphsmall {
            margin-top: 31px;
        }
    }

    .sq__logo {
        height: 50px;
    }

    .sq__ok {
        margin-top: 31px;
    }

    .sq__spawn {
        width: 100%;

        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    h1 {
        font-size: $step-2;
    }

    h2 {
        font-size: $step-1;
        margin-top: 15px;
    }

    .sq__radios {
        margin-top: 31px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        align-items: center;
        justify-content: space-evenly;

        gap: 31px;

        span {
            font-size: $step-1;
        }
    }

    .sq__settings, .sq__quests {
        left: -100%;
        top: 10%;
    }

    .sq__quests {
        width: 40%;
    }

    .sq__settings--appear, .sq__quests--appear {
        left: 0;
    }

    .sq__warning {
        width: 100%;
        height: auto;
        
        .sq__warningtext {
            font-size: $step-0;
        }
    }

    .sq__wrongDay {
        width: 100%;
        height: auto;

        .sq__wrongDaytext {
            font-size: $step-0;
        }
    }

    .sq__questProgress {
        width: 100%;

        .sq__questProgresstext {
            font-size: $step-0;
        }
    }

    .sq__splashtext {
       font-size: $step-0;
    }
}

@media(max-height: 900px) {
    .sq__map, #map {
        height: 100%;
        max-height: 100%;

        aspect-ratio: unset;
    }
}